node_modules/
__data__/
__pgdata__/
.envC:/Users/kalmanj/Documents/SCHOOL/cloudcomputing/assignment1/assignment02/PWD_PARCELS.dbf
C:/Users/kalmanj/Documents/SCHOOL/cloudcomputing/assignment1/assignment02/PWD_PARCELS.dbf
*.dbf
tl_2020_42_bg.cpg
tl_2020_42_bg.prj
tl_2020_42_bg.shp
tl_2020_42_bg.shx
tl_2020_42_bg.shx
tl_2020_42_bg.shx
tl_2020_42_bg.shp.ea.iso.xml
tl_2020_42_bg.shp.iso.xml
tl_2020_42_bg.zip
